:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

body {
  background-color: #efede6;
  border: 0px;
  margin: 0px
}

/* .app {
  display: grid;
  grid-template-columns: repeat(5, 1fr, 2fr, 2fr, 2fr, 1fr);
  grid-auto-rows: minmax(100px, auto);
  align-items: center;
  grid-template-areas:
    ". . . . ."
    ". bt bt bt ."
    ". . rm . ."
    ". tb tb tb .";
} */

/* --------------------------------------------------------------- */
/*         FONTS         */

h1 {
  padding-top: 30px;
  margin-bottom: 30px;
  margin-top: 0px;
  font-family: "Gill Sans", sans-serif;
  color: #d6ece7;
  font-size: 5rem;
  margin-left: 1rem;  
  background-color: #77b59c;
}

h2 { 
  font-family: "Gill Sans", sans-serif;
  margin-bottom: 1px;
  color: #7B8CDE;
  font-size: 2rem;
  margin-left: 1rem;
}

p {
  font-family: "Gill Sans", sans-serif;
  margin-top: 1px;
  color: #7B8CDE;
  font-size: 1rem;
  margin-left: 1rem;
  margin-bottom: 0px;
}

/* --------------------------------------------------------------- */
/*     NAV BAR CSS     */


nav a{
  display: inline-flex;
  text-align: center;
  justify-content: center;
  width:30%;
  text-decoration: none;
  color: #d6ece7;
}

nav a.active {
  background-color: #746ae5;
  color: #d6ece7;
}

.navigation {
  margin-bottom: 0px;
  font-size: 2rem;
  font-family: "Gill Sans", sans-serif;
  font-weight: 200;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navButton {
  margin: 0px;
  width: 100%;
}

.nav-bar {
  background-color: #77b59c;
}

.header {
  padding-bottom: 1rem;
}

/* --------------------------------------------------------------- */
/*     SHELF BAR CSS     */

.body-content {
  background-color: #efede6;
  margin: 0px;
}

.belt {
  margin-top: 80px;
  grid-area: bt;
  display: flex;
  justify-content: space-evenly;
}

.bar {
  margin-bottom: 80px; 
}

img {
  height: 220px;
  width: auto;
  /* box-shadow: 0px 10px 20px  #d6ece7; */
}

button {
  background-color: #efede6;
  border: none;
  box-shadow: none;
  font-size: 3rem;
  color: #77b59c;
  margin-left: 1rem;
}

.details-button{
  margin-top: 2rem;
  background-color: #efede6;
  color: #7B8CDE;
  font-size: 1rem;
  font-family: "Gill Sans", sans-serif;
  font-weight: 200;
  border-radius: 5px;
  margin-left: 1rem;
}

.link{
  font-family: "Gill Sans", sans-serif;
  margin-top: 1px;
  color: #7B8CDE;
  font-size: 1rem;
  margin-left: 1rem;
  margin-bottom: 0px;
}

/* --------------------------------------------------------------- */
/*     SHELF PAGE CSS     */  

#bookshelfCard {
  text-align: center;
  gap: 10px;
  width: 100%;
}

#book-list {
  padding-top: 2rem;
  display: inline-grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  width: 100%;

}